.card-cadastro {
    width: 100%;
    max-width: 600px;
    padding: auto;
    margin: auto;
}

.card-teste {
    width: 550px;
    height: 150px;
    padding: auto;
    margin: auto;
}

.form-cadastro {
    margin-top: 15px;
}

.text-cadastro {
    margin-bottom: 40px;
}