.div-home {
    margin-top: 15px;
}

.card-home {
    /* width: 25%; */
    /* height: 50%; */
    padding: auto;
    /* float: left; */
    /* margin-bottom: 20px; */
    /* min-height: 820px; */
}

#aa {
    width: auto;
    height: 500px;
}

.div-image2 {
    width: 23%;
    float: left;
}

#img-home {
    width: 70%;
}

.align-center {
    padding-top: 40%;
    padding-left: 10%;
}

#pesquisa-produto {
    width: 65%;
}

.card-home2 {
    width: 73%;
    margin-bottom: 20px;
    min-height: 820px;
}

.img-home {
    width: 100%;
    height: auto;
}

.h1-home {
    text-align: center;
    font-size: 18px;
}