.card-login {
  max-width: 330px;
}

.card-login, .card-doacao, #form {
  width: 100%;
  margin: auto;
}


h2 {
  text-align: center;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#text {
  margin-bottom: 40px;
  font-size: small;
}